<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find talos_description)/urdf/sensors/hokuyo.urdf.xacro" />

  <xacro:property name="hokuyo_y_offset" value="-0.27"/>
  <xacro:property name="hokuyo_z_offset" value="0.335"/>

  <xacro:macro name="talos_sensors">
      <xacro:hokuyo name="hokuyo" parent="base" ros_topic="base_scan" update_rate="50" min_angle="0" max_angle="180">
          <origin xyz="0 ${hokuyo_y_offset} ${hokuyo_z_offset}" rpy="0 0 0"/>
      </xacro:hokuyo>
  </xacro:macro>

</robot>

