<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="talos_wheel_transmission" params="prefix">

            <!-- Caster wheel transmissions -->
	    <transmission name="${prefix}_caster_to_wheel_trans">
	    <type>transmission_interface/SimpleTransmission</type>
	    <joint name="${prefix}_caster_to_wheel">
               <hardwareInterface>VelocityJointInterface</hardwareInterface>
            </joint>
	    <actuator name="${prefix}_caster_to_wheel_motor">
	      <mechanicalReduction>1</mechanicalReduction>
              <hardwareInterface>VelocityJointInterface</hardwareInterface>
	    </actuator>
	  </transmission>

           <transmission name="${prefix}_base_link_to_caster_trans">
	    <type>transmission_interface/SimpleTransmission</type>
	    <joint name="${prefix}_base_link_to_caster">
               <hardwareInterface>VelocityJointInterface</hardwareInterface>
            </joint>
	    <actuator name="${prefix}_base_link_to_caster_motor">
	      <mechanicalReduction>1</mechanicalReduction>
              <hardwareInterface>VelocityJointInterface</hardwareInterface>
	    </actuator>
	  </transmission>

  </xacro:macro>
</robot>
