<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="talos_wheel_transmission" params="prefix">

	    <transmission name="${prefix}_wheel_trans">
	    <type>transmission_interface/SimpleTransmission</type>
	    <joint name="${prefix}_wheel_joint"/>
	    <actuator name="${prefix}_wheel_motor">
	      <hardwareInterface>VelocityJointInterface</hardwareInterface>
	      <mechanicalReduction>1</mechanicalReduction>
	    </actuator>
	  </transmission>

  </xacro:macro>

</robot>
